@import ".cache/wal/colors-waybar.css";

window {
	background-color: @background;
	border: 1px solid @color1;
}

#input {
	margin: 2px;
	padding: 4px;
	border: none;
	background-color: @color0;
	color: @color7;
}

#inner-box {
	margin: 0px;
}

#outer-box {
	margin: 0px;
}

#scroll {
	margin: 0px;
}

#text {
	margin: 2px;
	color: @color7;
}

#entry {
	padding: 2px;
	margin: 0px;
}

#entry:selected {
	background-color: @color1;
}

#img {
	margin: 2px;
	padding-left: 4px;
}
